<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{ project.name }}</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <h2>
    <a href="/" style="text-decoration: none;" title="Zur Startseite">
      <img src="/favicon.png" alt="Symbol" style="width: 24px; height: 24px; vertical-align: middle; margin-right: 8px;"">
    </a>
    Projekt {{ project.name }}
  </h2>

  <div id="network"></div>
  <div id="popup"></div>


  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

  <script src="/js/scripts.js"></script>

  <script>
    $(document).ready(function() {
      loadGraph("{{ project.id }}");
  });
  </script>
  
  {% raw %}
  <script id="popup-template" type="text/x-handlebars-template">
    <div class="popup-container">
      
      <!-- TYP (kleiner Text oben) -->
      <div class="popup-type">{{type}}</div>

      <!-- HEADER mit Klasse -->
      <div class="popup-header">
        <strong class="class-name">{{label}}</strong>
      </div>

      <!-- BODY mit Kommentar und Attributtabelle -->
      <div class="popup-body">
        {{#if comment}}
        <p>{{comment}}</p>
        {{/if}}
        {{#if attributes}}
        <table class="popup-attributes">
          <thead>
            <tr><th>Attribut</th><th>Wert</th></tr>
          </thead>
          <tbody>
            {{#each attributes}}
            <tr>
              <td>{{@key}}</td>
              <td>{{this}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{/if}}
      </div>
    </div>
  </script>

  {% endraw %}
   
</body>
</html>
