<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{ project.name }}</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <h2>
    <a href="/" style="text-decoration: none;" title="Zur Startseite">
      <img src="/favicon.png" alt="Symbol" style="width: 24px; height: 24px; vertical-align: middle; margin-right: 8px;"">
    </a>
    Projekt {{ project.name }}
  </h2>

  <div id="network"></div>
  <div id="popup"></div>


  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/js/scripts.js"></script>

  <script>
    $(document).ready(function() {
      loadGraph("{{ project.id }}");
  });
  </script>
  
</body>
</html>
